# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
.venv/
.env

# Jupyter
.ipynb_checkpoints/

# Data 
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

data/interim/*
!data/interim/.gitkeep